.containedButton,
.textButton {
  color: #444444;
  background-color: transparent;
  padding: 8px 30px;

  border-radius: 6px;
  border: 2px solid;

  font-family: "Quicksand";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-sizing: border-box;
}

.textButton {
  background-color: transparent;
  border: none;

  padding: 0;
}

.containedButton:hover,
.textButton:hover {
  opacity: 0.7;
}

.containedButton:active,
.textButton:active {
  opacity: 0.9;
}
